/* Responsive */
@media (min-width: 1200px) {

	// Sticky Header
	html.boxed.sticky-header-active {
		#header {
			.header-body {
				width: auto;
			}
		}
	}

	// Transparent
	html.boxed {
		#header.header-transparent,
		#header.header-semi-transparent,
		#header.header-semi-transparent-light {
			.header-body {
				width: auto;
			}
		}
	}

}

@media (min-width: 992px) {

	html.boxed {

		// Top Colored
		#header {
			.header-top.header-top-colored {
				margin-top: -18px;
				border-radius: 4px 4px 0 0;
			}
		}

		// Transparent
		#header.header-transparent,
		#header.header-semi-transparent,
		#header.header-semi-transparent-light {
			.header-body {
				position: absolute;
				padding-left: 15px;
				padding-right: 15px;
			}
		}

		// Header Top
		#header {
			.header-top.header-top-style-2,
			.header-top.header-top-style-3,
			.header-top.header-top-style-4 {
				margin-top: -13px;
			}
		}

	}

	// Sticky Header
	html.boxed.sticky-header-active {
		#header {
			.header-body {
				position: fixed !important;
				padding-left: 15px;
				padding-right: 15px;
			}
			.header-nav-bar {
				margin: 0 -15px -9px;
			}
		}
	}

}


// Logo
@media (min-width: 992px) {
	#header.header-narrow {
		.header-nav.header-nav-stripe {
			position: relative;
			z-index: 3;
			margin-bottom: -8px;
		}

		.header-nav-main.header-nav-main-square {
			margin-bottom: -8px;	
		}

		.header-logo {
			.logo-default {
				margin: -37px -70px -102px 0;
				position: relative;
				z-index: 2;
				opacity: 1;
			}

			.logo-small {
				-webkit-backface-visibility: hidden;
				-moz-backface-visibility: hidden;
				backface-visibility: hidden;
				transform: translate3d(87px, 0, 0);
				position: absolute;
				z-index: 1;
				opacity: 0;
				#{$left}: 0;
			}
		}
	}

	.sticky-header-active {
		#header.header-narrow {
			.header-logo {
				.logo-small {
					transform: translate3d(0, 0, 0);
					opacity: 1;
					z-index: 3;
				}

				.logo-default {
					opacity: 0;
					top: -90px;
				}
			}
		}
	}
}

@media (max-width: 991px) {
	.logo-default {
		display: none !important;
	}

	.logo-small {
		display: block;
	}

	#header .header-logo {
		width: auto !important;
		height: auto !important;
	}
}

// Header
@media (min-width: 992px) {
	html {
		#header.header-semi-transparent-light .header-body {
			@include transition (transform 0.3s ease);
			transform: translate3d(0, 25px, 0);
			&:before {
				background: #fff none repeat scroll 0 0;
				opacity: 1;
			}
		}

		&:not(.sticky-header-active) #header.header-semi-transparent-light .header-nav-main nav > ul > li:not(.active) {
			> a {
				color: #5e7279;

				&.dropdown-toggle {
					&:after {
						border-color: #5e7279 transparent transparent transparent;
					}
				}
			}
			&:hover {
				> a {
					color: #FFF;

					&.dropdown-toggle {
						&:after {
							border-color: #FFF transparent transparent transparent;
						}
					}
				}
			}
		}

		&.sticky-header-active {
			#header.header-semi-transparent-light .header-body {
				transform: translate3d(0, 0, 0);
			}
		}
	}

	#header.header-narrow {

		// Header Nav Main Styles
		.header-nav {
			
			// Header Nav
			&.header-nav-stripe, &.header-nav-dark-dropdown {
				nav {
					> ul {
						> li, > li:hover {
							> a {
								padding: side-values(39px 13px 36px 13px);
							}
						}
						> li.dropdown, > li.dropdown:hover {
							> a {
								padding: side-values(39px 23px 36px 13px);
								&.dropdown-toggle {
									&:after {
										top: 38px;
									}
								}
							}
							.dropdown-menu {
								margin-top: 1px;
							}
						}
					}
				}
				.header-social-icons {
					margin-top: 35px;
				}
			}

		}

	}
}


#header .header-body {
	border-top: 0 !important;
	border-bottom: 0 !important;
}

#header .header-top-custom {
	padding: 0 !important;
	background: #dbe6ef;
	border-bottom: 1px solid #444a54 !important;
}

#header .header-top-custom .header-nav-top.langs li a:hover, #header .header-top-custom .header-nav-top.langs li a:focus {
	background: #FFF;
}

#header .header-top-custom .header-nav-top .nav > li.blog {
	border-left: 1px solid #444a54;
	border-right: 1px solid #444a54;
}

#header .header-top-custom .header-nav-top .nav > li:nth-child(2) span {
	border-left: 1px solid #444a54;
	border-right: 1px solid #444a54;
}

#header .header-top-custom .header-nav-top .nav > li > span, #header .header-top-custom .header-nav-top .nav > li a {
	color: #8ea0ae !important;
}

#header .header-top-custom .header-nav-top .nav > li:first-child > span {
	padding-right: 0;
}

#header .header-top-custom .header-nav-top .nav > li span .icons {
	color: #FFF !important;
}

#header .header-top-custom .header-nav-top .nav > li a .fa {
	color: #8ea0ae;
	top: -2px !important;
	left: -2px;
}

#header .header-top-custom .header-nav-top .nav .open a {
	background-color: #FFF;
}

#header .header-top-custom .header-nav-top .nav .open .dropdown-menu {
	border-radius: 0 !important;
}

#header .header-top-custom .header-nav-top .nav .open .dropdown-menu-toggle {
	border-radius: 0;
}

#header #headerSearchProperties .dropdown-toggle:after {
	display: none !important;
}

#header #headerSearchProperties .fa-caret-down {
	display: none !important;
}

#header #headerSearchProperties .fa-search {
	font-size: 16px;
	position: relative;
	margin-right: 5px;
}

@media (min-width: 992px) {
	#header .header-nav-main nav > ul > li > a {
		padding: 30px 20px;
	}

	#header .header-nav-main nav > ul > li > a.dropdown-toggle:after {
		border-color: #FFF transparent transparent transparent !important;
	}

	#header .header-nav-main nav > ul > li.dropdown.active > a, #header .header-nav-main nav > ul > li.dropdown.open > a, #header .header-nav-main nav > ul > li.dropdown:hover > a {
		padding-bottom: 30px;
	}

	#header .header-nav-main nav > ul > li.dropdown.active > a:after, #header .header-nav-main nav > ul > li.dropdown.open > a:after, #header .header-nav-main nav > ul > li.dropdown:hover > a:after {
		border-color: #777 transparent transparent transparent !important;
	}

	#header .header-nav-main-effect-1 nav > ul > li.dropdown.open > a {
		background: #FFF;
		color: #777 !important;
	}

	#header .header-nav-main-effect-1 nav > ul > li.dropdown.open > .dropdown-menu {
		transform: translate3d(0, 0, 0);
	}

	#header .header-nav-main-effect-1 nav > ul > li.dropdown > .dropdown-menu li:hover a {
		background-color: #f5f5f5 !important;
	}

	#header .header-container.custom-position-initial {
		position: initial !important;
	}

	#header .header-container .custom-fullwidth-dropdown-menu {
		padding: 0;
		width: 100% !important;
		right: 0 !important;
	}
}

@media (max-width: 991px) {
	#header {
		min-height: 0 !important;
	}

	#header .header-nav-main nav > ul > li {
		border-bottom: 1px solid #444a54 !important;
	}

	#header .header-nav-main nav > ul > li .dropdown-menu > li {
		border-bottom: 1px solid #444a54 !important;
	}

	#header .header-nav-main nav > ul > li .dropdown-menu > li:last-child {
		border-bottom: 0 !important;
	}

	#header .header-nav-main nav > ul > li .dropdown-menu > li a {
		color: #777;
	}

	#header .header-nav-main nav > ul > li.dropdown.opened > .dropdown-menu {
		margin: 0;
	}

	#header .header-nav-main nav > ul > li.dropdown.opened > .dropdown-menu.custom-fullwidth-dropdown-menu {
		background: transparent;
		width: 100% !important;
	}

	#header .header-nav-main nav > ul > li.dropdown.opened > .dropdown-menu.custom-fullwidth-dropdown-menu form {
		margin: 10px;
		margin-right: 0;
	}

	#header .header-nav-main nav > ul > li:last-child {
		border-bottom: 0 !important;
	}

	#header #propertiesFormHeader .col-md-2 {
		padding: 0;
	}

	#header #propertiesFormHeader .col-md-2 .form-control-custom {
		margin-top: 5px;
	}

	#header #propertiesFormHeader .col-md-2 input[type="submit"] {
		margin-top: 5px;
	}
}
